<nav class="navbar navbar-light bg-light" style="background-color:white;">
{%- if site.show-style-guide %}

                <div class="col-3">
                    <div class="row">
                        <h5>Sitemap</h5>
                    </div>
                    <div class="row">
                        <p>Home</p>
                    </div>
                    <div class="row">
                         <p>Routes & prijzen</p>
                    </div>
                    <div class="row">
                        <p>Goed doel</p>
                    </div>
                    <div class="row">
                        <p>Contact</p>
                    </div>
                </div>
    
                <div class="col-3">
                    <div class="row">
                        <h5>Routes</h5>
                    </div>
                    <div class="row">
                        <p>Adventure</p>
                    </div>
                     <div class="row">
                        <p>Basic</p>
                    </div>
                    <div class="row">
                        <p>Junior</p>
                    </div>
                    <div class="row">
                        <p>Extreme</p>
                    </div>
                </div>
    
                <div class="col-3">
                    <div class="row">
                        <h5>Adres</h5>
                    </div>
                    <div class="row">
                        <p>Rue du Plan d’Eau 33-39</p>
                    </div>
                     <div class="row">
                        <p>5580 Rochefort Belgie</p>
                    </div>
                </div>
        
                <p>Kanotocht | Copyright © 2017</p>
    {%- endif %}
    </nav>