<nav class="navbar navbar-light bg-light" style="background-color:white;">
{%- if site.show-style-guide %}

                <div class="col-4">
                    <div class="row">
                        <h5>Sitemap</h5>
                    </div>
                    <div class="row">
                        <a href="/index.html"><p>Home</p></a>
                    </div>
                    <div class="row">
                        <a href="RoutesenPrijzen/alleroutes.html"><p>Routes & prijzen</p></a> 
                    </div>
                    <div class="row">
                        <a href="/Goed doel.html"><p>Goed doel</p></a>
                    </div>
                    <div class="row">
                        <a href="/contact.html"><p>Contact</p></a>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="row">
                    <h5>Routes</h5>
                    </div>
                    <div class="row">
                        <a href="RoutesenPrijzen/adventure.html"><p>Adventure</p></a>
                    </div>
                     <div class="row">
                        <a href="RoutesenPrijzen/classic.html"> <p>Classic</p>
                    </div>
                    <div class="row">
                        <a href="RoutesenPrijzen/junior.html"><p>Junior</p></a>
                    </div>
                    <div class="row">
                        <a href="RoutesenPrijzen/extreme.html"><p>Extreme</p></a>
                    </div>
                </div>
    
                <div class="col-4">
                    <div class="row">
                        <h5>Adres</h5>
                    </div>
                    <div class="row">
                        <p>Rue du Plan d’Eau 33-39</p>
                    </div>
                     <div class="row">
                        <p>5580 Rochefort Belgie</p>
                    </div>
                </div>
        
                <div class="col-7" id="copyright">
                <p>Kanotocht | Copyright © 2017</p>
            </div>
    {%- endif %}
    </nav>